<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <navbar>
        <a class="btn" href="../index.html">Home</a>
        <a class="btn" href="about.html">About</a>
        <a class="btn" href="contact.html">Contact</a>
        <img src="../assets/sun.png" id="icon">
    </navbar>
    <section id="about">
        <h2>Sobre mi</h2>
        <details>
            <summary>Visión</summary>
            <p>Mi visión es convertirme en un profesional altamente calificado y contribuir al desarrollo de soluciones innovadoras en el campo de la tecnología.</p>
        </details>

        <details>
            <summary>Misión</summary>
            <p>Mi misión es aplicar mis conocimientos y habilidades en programación y desarrollo de software para resolver problemas de manera eficiente y colaborar en proyectos que tengan un impacto positivo en la sociedad.</p>
        </details>

        <details>
            <summary>Habilidades Obtenidas</summary>
            <ul>
                <li>Desarrollo web front-end (HTML, CSS, JavaScript)</li>
                <li>Desarrollo web back-end (Node.js)</li>
                <li>Desarrollo de aplicaciones móviles (Net Maui)</li>
                <li>Bases de datos relacionales(SQLite, Firebird)</li>
                <li>Versionado de código con Git</li>
                <li>Programación Orientada Hardware/electrónica (Arduino, Assembly)</li>
            </ul>
        </details>
        
        <details>
            <summary>Fortalezas</summary>
            <ul>
                <li>Capacidad para resolver problemas de manera creativa</li>
                <li>Adaptabilidad y disposición para aprender nuevas tecnologías</li>
                <li>Trabajo en equipo y colaboración efectiva</li>
                <li>Compromiso con la calidad y la mejora continua</li>
            </ul>
        </details>
    </section>
    <footer class="content">
        <h5>Copyright y coso</h5>
    </footer>
    <script src= "../script.js"></script>
</body>
</html>