<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <navbar>
        <a class="btn" href="../index.html">Home</a>
        <a class="btn" href="about.html">About</a>
        <a class="btn" href="contact.html">Contact</a>
        <img src="../assets/sun.png" id="icon">
    </navbar>
    <section class="contact">
        <h2>Contactame abajo</h2>
        <form action="#">
            <div class="input-box">
                <div class="input-field field">
                    <input type="text" placeholder="Nombre" id="Nombre"
                    class = "item" autocomplete="off">
                    <div class="error-txt">El campo nombre no puede estar vacío</div>
                </div>
                <div class="input-field field">
                    <input type="text" placeholder="Apellido" id="Apellido"
                    class = "item" autocomplete="off">
                    <div class="error-txt">El campo apellido no puede estar vacío</div>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field field">
                    <input type="text" placeholder="Empresa" id="Empresa"
                    class = "item" autocomplete="off">
                    <div class="error-txt">El campo empresa no puede estar vacío</div>
                </div>
                <div class="input-field field">
                    <input type="text" placeholder="Telefono" id="Telefono"
                    class = "item" autocomplete="off">
                    <div class="error-txt">El campo telefono no puede estar vacío</div>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field field">
                    <input type="text" placeholder="Correo electrónico" id="Email"
                    class = "item" autocomplete="off">
                    <div class="error-txt">El campo correo no puede estar vacío</div>
                </div>
            </div>
            <div class="textarea-field field">
                <textarea name="" id="message" cols="30" rows="10" 
                placeholder="Su mensaje" class="item"
                autocomplete="off"></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </section>
    <script src="../script.js"></script>
</body>
</html>